{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<title>Sign up facundo farm & resort</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<head>
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{% static 'css/core.css' %}">
        <link type="text/css" href="{% static 'js/colorbox/colorbox.css' %}" rel="stylesheet" />
        <script src="{% static 'js/jquery-3.4.7.min.js' %}"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src="{% static 'js/colorbox/jquery.colorbox-min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/core.js' %}"></script>
        {% block head %}{% endblock %}
	</head>
	<body>
        {% block content %}{% endblock %}
    </body>
</html>