{% extends "core.html" %}

{% block head %}
    <script type="text/javascript">
        parent.location.reload();
        /*
        {% if timeout %}
            setTimeout(function() {
            	//parent.Loading.start();
                parent.location.reload();
                parent.$.fancybox.close();
            }, {{ timeout }});
        {% endif %}
        */
    </script>
{% endblock %}

{% block content %}
    <div class="popup-close">
        <input type="button" value="Зачинити" onclick="Popup.close()" />
    </div>
{% endblock %}

