{% extends "core.html" %}

{% block content %}
    <div class="container">
    <h2>Проект {{ project.name }}  {{ project.description }}</h2>
    <a href="{% url 'project-list' %}" class="btn btn-info">Список проектів</a>
    {% if user.is_staff %}
        <a href="{% url 'project-edit' project.url %}" class="btn btn-success popup">Редагувати проект</a>
        <a href="{% url 'project-task-edit' project.url 0 %}" class="btn btn-success popup">Додати завдання</a>
    {% endif %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Тема</th>
        <th>Опис</th>
        <th>Тип</th>
        <th>Пріоритет</th>
        <th>Час в годинах</th>
        <th>Автор</th>
        <th>Створений</th>
          {% if user.is_staff %}
            <th></th>
          {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for task in project.tasks.all %}
          <tr>
            <td>{{ task.topic }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.type }}</td>
            <td>{{ task.priority }}</td>
            <td>{{ task.estimated_time }}</td>
            <td>{{ task.author }}</td>
            <td>{{ task.created }}</td>
            {% if user.is_staff %}
                <td>
                    <a href="{% url 'project-task-edit' project.url task.pk %}" class="btn btn-success popup form">Edit</a>
                </td>
            {% endif %}
          </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}